.estado-pedido {
  font-size: clamp(.9rem, 95.5vw, 1.3rem);
  padding: 5px 0px;
  border-bottom: 2px solid rgba(151, 141, 141, 0.557);
  border-radius: 7px;
  transition: .5s;
}

.estado-pedido:hover {
  border-bottom: 2px solid #F29F05;
}

.cover {
  width: 22vw;
  object-fit: cover;
}